@model IEnumerable<Project2.Models.Missions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.missionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.missionPresidentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.missionAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.missionLanguage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.missionClimate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.missionDomReligion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.missionFlagURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.missionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.missionPresidentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.missionAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.missionLanguage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.missionClimate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.missionDomReligion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.missionFlagURL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.missionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.missionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.missionID })
        </td>
    </tr>
}

</table>
-->
<div class="jumbotron mission-header text-center">
    <div class="dropdown">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
            Select a Mission
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li>@Html.ActionLink(item.missionName, "FrequentQuestions", "Home", new { MisName = item.missionName }, new { @class = "btn" })</li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/W0-0nniCz6k" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PpEhE_scrs4" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
